// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$mainColor: #fa93bb;
$secondaryColor: #E8E1E1;
$fontColor:#7D7275;
