// Variables
@import 'variables';
@import './juciyAds.scss';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import "~bootstrap/scss/mixins/_breakpoints";
@import "./icons/style.css";
// Custom Style
// Dashboard Style


.btn-outline-secondary{
  color:$fontColor;
  display: block;
  border-color: $mainColor;
  &:hover{
    border-color: $mainColor;
    color:$fontColor;

    background-color: $mainColor
  }
}
body{
  position: relative;
  min-height: 100vh;
}
// NavBar style
.navbar{
  padding: 0px;
}
.navbar-brand{
  margin: auto;
  img{


    height: 50px;
  }
}
.bg-info {
  background-color: $mainColor !important;
}

#app{
  overflow-x: hidden;
  position: relative;
  .dashboard{
    nav{
      background-color:$mainColor !important
    }
  }
  // Card Component sytle

  .card{
    color:$fontColor;
    .card-header{
      background-color:$secondaryColor
    }
    .card-body{
      .badge-secondary{
        background-color:$mainColor;
      }
      .video-title{
        color:$fontColor;
        font-weight: bold;
        letter-spacing: 0.2rem
      }
    }
  }
  // related Video Section Syle
  .relate-video{
    span{
      display: inline-block;
    }

  }
}
// Footer style
#footer{
  color: $fontColor;
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: -75px;
  width: 100%;
  background-color: $mainColor;
  text-align:center;
  }

// Video thumbnail video Style
.video{
  img{
    height: 10rem;
  }
  .card{
    .card-body{
      padding: 1rem 1.25rem;
      a{
        text-decoration: none;
        color:$fontColor;
        cursor: pointer;
      }
      .card-title{
          margin-bottom:0px;
          text-align: center;
          font-size: 1rem;
          height: 3rem;
          line-height: 1.5rem;
          overflow: hidden;
      }
    }

  }
  .card-footer{
    background-color: $secondaryColor;
      .info{
        padding:0px;
        margin:0px;
        .info_item{
          list-style: none;
          display: inline-block;
          &:not(:first-of-type){
            margin-left: 1rem;
          }
        }
      }
  }
}
.stats{
  width: 100%;
  height: 8rem;
  line-height: 8rem;
  border-radius: 10px;
  border: 2px solid $mainColor;
  text-align: center;
}
// Pagination video style
.page-item.active .page-link {
  color: $fontColor;
  background-color:$mainColor ;
  border-color:$mainColor;
}
@media screen and (max-width:320px){
  .video {
    img{
      height: 7rem;
    }
    .card-footer{
      padding: 5px 5px 5px 0.5rem !important;
      .info{
        .info_item{
          margin-left: 0.4rem !important;
          &:nth-of-type(1){
            margin-left: 0.2rem !important;
          }

        }
      }
    }
  }
}
@include media-breakpoint-only(xs){
  .card-footer{
    padding: 0.35rem 0.7rem;
  }
  .video {
    .card-footer{
      padding: 5px 5px 5px 0.7rem;
      .info{
        .info_item{
          &:nth-of-type(2){
            margin-left: 2rem
          }
        }
      }
    }
  }
  #footer{
    bottom: -70px;
  }

}
@include media-breakpoint-between(xs,sm){
  .card{
    .card-body{
      .video-title{
        font-size: 1.1rem;
        letter-spacing: 0.1rem
      }
    }
  }
  .video {
    .info {
      font-size: .7rem
    }
   .card{
     .card-body{
       padding: .5rem .625rem;
       .card-title{
          text-align: center;
          font-size: 0.65rem;
          line-height: 1rem;
          height: 2rem;

       }
     }
   }
  }
}
@include media-breakpoint-only(lg){
  .card-footer {
    padding: 0.75rem 2rem;

  }
}
@include media-breakpoint-only(xl){
  .video{
    .card-footer{
      .info{
        .info_item{
          margin-left: 0px;
          padding-right: 3.5px;
          &:not(:first-of-type){
            margin-left: 0px
          }
        }
      }
    }
  }
}
@include media-breakpoint-between(md,lg){
  #app {
    #footer{
      bottom: -80px;
    }
  }
  .video{
    .card-footer{
      .info{
        .info_item{
          margin-left: 0.8rem;
          &:not(:first-of-type){
            margin-left: 2.3rem
          }
        }
      }
    }
  }
}
@include media-breakpoint-between(sm,md){
  .card-footer {
    padding: 0.75rem 0.65rem;

  }
}
@include media-breakpoint-between(lg,xl){
  .card-footer {
    padding: 0.75rem 0.65rem;

  }
}


