@media all and (min-device-width:992px) {
  #juicy-ads.leaderboard{

      & > iframe{
        margin-left: 12.5%;
        transform: translateX(-12.5px)
      }
  }
}
@media all and (min-device-width: 768px) and (max-device-width: 991px) {
  #juicy-ads.leaderboard{
    transform: scale(0.9);
      & > iframe{
        margin-left: -3%;
      }
  }
}
@media all and (min-device-width: 700px) and (max-device-width: 767px) {
  #juicy-ads.leaderboard{
      transform: scale(0.7);
      & > iframe{
        margin-left:-6rem;
      }
  }
}


@media all and (min-device-width: 576px) and (max-device-width: 699px) {
  #juicy-ads.leaderboard{
    transform: scale(0.7);
    transform-origin: 0 0;
    height: 5em;
  }
}

@media all and (min-device-width: 560px) and (max-device-width: 575px) {
  #juicy-ads.leaderboard{
    transform: scale(0.735);
    transform-origin: 0 0;
    height: 5em;
  }
}

@media all and (min-device-width: 520px) and (max-device-width: 559px) {
  #juicy-ads.leaderboard{
      transform: scale(0.675);
      transform-origin: 0 0;
      height: 4em;
  }
}

@media all and (min-device-width: 491px) and (max-device-width: 519px) {
  #juicy-ads.leaderboard{
      transform: scale(0.635);
      transform-origin: 0 0;
      height: 4em;
  }
}

@media all and (min-device-width: 451px) and (max-device-width: 490px) {
  #juicy-ads.leaderboard{
      transform: scale(0.58);
      transform-origin: 0 0;
      height: 4em;
  }
}

@media all and (min-device-width: 426px) and (max-device-width: 450px) {
  #juicy-ads.leaderboard{
      transform: scale(0.545);
      transform-origin: 0 0;
      height: 3.5em;
  }
}
@media all and (min-device-width: 401px) and (max-device-width: 425px) {
  #juicy-ads.leaderboard{
      transform: scale(0.525);
      transform-origin: 0 0;
      height: 3.5em;
  }
}

@media all and (min-device-width: 371px) and (max-device-width: 400px) {
  #juicy-ads.leaderboard{
      transform: scale(0.47);
      transform-origin: 0 0;
      height: 45px;
  }
}

@media all and (min-device-width: 341px) and (max-device-width: 370px) {
  #juicy-ads.leaderboard{
      transform: scale(0.427);
      transform-origin: 0 0;
      height:2.5em;
  }
}

@media all and (min-device-width: 301px) and (max-device-width: 340px) {
  #juicy-ads.leaderboard{
    transform: scale(0.4);
    transform-origin: 0 0;
    height: 35px;
  }
}

@media all and (max-device-width: 300px) {
  #juicy-ads.leaderboard{
      transform: scale(0.4);
      transform-origin: 0 0;
  }
}
